<?xml version="1.0"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" soap:encodingStyle="http://www.w3.org/2001/12/soap-encoding">
    <soap:Body>
        <<%= method %>><% params.forEach(param => { %>
            <%- param %><% }) %>
        </<%= method %>>
    </soap:Body>
</soap:Envelope>